<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:social="http://spring.io/springsocial">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Spring Social Ecobee Showcase</title>
</head>
<body>

    <div>
        <h1><a th:href="@{/}">Spring Social Ecobee Showcase</a></h1>
    </div>

    <div>
        <p>Welcome, <span th:text="${authentication.principal.username}">first-name</span>!</p>

        <div>
            <h3>Your thermostats</h3>
            <div th:each="thermostat : ${thermostats}">
                Thermostat <span th:text="${thermostat.identifier}"/> is known as <span th:text="${thermostat.name}"/>.
                It is currently in <span th:text="${thermostat.settings.hvacMode}"/> mode.
                Current temperature is <span th:text="${thermostat.runtime.actualTemperature}/10"/>.
                Target cold is <span th:text="${thermostat.runtime.desiredCool}/10" />.
                Target heat is <span th:text="${thermostat.runtime.desiredHeat}/10" />.
            </div>
        </div>

    </div>

</body>
</html>