<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>

        <div id="content" layout:fragment="content">
            <p>Welcome, <span th:text="${authentication.principal.username}">first-name</span>!</p>

            <div>
                <h3>Your thermostats</h3>
                <div th:each="thermostat : ${thermostats}">
                    Thermostat <span th:text="${thermostat.identifier}"/> is known as <span th:text="${thermostat.name}"/>.
                    It is currently in <span th:text="${thermostat.settings.hvacMode}"/> mode.
                    Current temperature is <span th:text="${thermostat.runtime.actualTemperature}"/>.
                    Target cold is <span th:text="${thermostat.runtime.desiredCool}" />.
                    Target heat is <span th:text="${thermostat.runtime.desiredHeat}" />.
                    <div th:each="remoteSensor : ${thermostat.remoteSensors}">
                        Sensor <span th:text="${remoteSensor.name}" /> (code <span th:text="${remoteSensor.code}" />) has the following readings:
                        <div th:each="capability : ${remoteSensor.capability}">
                            <span th:text="${capability.type}" /> reads <span th:text="${capability.value}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>