<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>

        <div id="content" layout:fragment="content">
            <p>Welcome, <span th:text="${authentication.principal.username}">first-name</span>!</p>

            <div>
                <h3>Your thermostats</h3>
                <div th:each="thermostat : ${thermostats}">
                    <ul>
                        <li>Thermostat <span th:text="${thermostat.identifier}"/> is known as <span th:text="${thermostat.name}"/></li>
                        <li>It is currently in <span th:text="${thermostat.settings.hvacMode}"/> mode.</li>
                        <li>Current temperature is <span th:text="${thermostat.runtime.actualTemperature}"/>.</li>
                        <li>Target cold is <span th:text="${thermostat.runtime.desiredCool}" />.</li>
                        <li>Target heat is <span th:text="${thermostat.runtime.desiredHeat}" />.</li>
                    </ul>

                    <div class="layout"><!--
                        --><div th:each="remoteSensor : ${thermostat.remoteSensors}" class="layout__item palm-1/1 lap-1/2 desk-1/4">
                            <div><!--
                                --><div class="layout__item 1/1">Sensor <span th:text="${remoteSensor.name}" /> (code <span th:text="${remoteSensor.code}" />)</div><!--
                                --><div class="layout__item 1/1" th:each="capability : ${remoteSensor.capability}"><!--
                                    --><span th:text="${capability.type}" class="layout__item palm-1/2 lap-and-up-2/3"/><!--
                                    --><span th:text="${capability.value}" class="layout__item palm-1/2 lap-and-up-1/3"/><!--
                                --></div><!--
                            --></div>
                        </div><!--
                    --></div>
                </div>
            </div>
        </div>

    </body>
</html>