<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>

        <div id="content" layout:fragment="content">
            <h5>Connect to Ecobee</h5>

            <form th:action="@{/connect/ecobee}" method="POST">
                <div>
                    <p>
                        You haven't created any connections with Ecobee yet. Click the button to connect Spring Social Ecobee Showcase
                        with your Ecobee account.
                        (You'll be redirected to Ecobee where you'll be asked to authorize the connection.)
                    </p>
                </div>
                <p><button type="submit">Connect to Ecobee</button></p>
            </form>
        </div>

    </body>
</html>